*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lobster', cursive;
}
.dif-color{
    color: coral;
}
h1{
    font-size: 50px;
}
.headline{
    border-left: 5px solid darkblue;
    margin: 5px;
    padding-left:7px;
}
.one{
    display: flex;
}
.half-div{
    width: 50%;
    margin: 60px;
}
.img{
    
    height: 83%;
    width: 70%;
}
p{
    text-align: justify;
}
.btn{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:white;
    text-decoration: none;
    padding: 7px 10px;
    border:1px solid darkgreen;
    
  background-image: linear-gradient(coral ,red);
}
.sec-two h1{
    text-align: center;
}
.three-box{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 30px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: space-between;
}
#box-one {
    width: 25%;
    text-align: justify;
    padding: 15px;
    border-radius: 10px;
    background-color: darkkhaki;

    
}
.box-img{
    width: 50%;
    margin-left: 50px;
}
#box-two {
    
    width: 25%;
    text-align: justify;
    padding: 15px;
    border-radius: 10px;
    background-color: cornflowerblue;
}
    
#box-three-ch {
    
    width: 25%;
    text-align: justify;
    padding: 15px;
    border-radius: 10px;
    background-color: darkslateblue;
    
    
    
}